@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(220, 220, 220, 0.800);
}

.form-div{
    width: 450px;
    height: 475px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Voces', cursive;
    border: 2px solid rgba(0, 0, 0, 0.700);
    background-color: white;
}

.form-act-div{
    width: 450px;
    height: 540px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Voces', cursive;
    border: 2px solid rgba(0, 0, 0, 0.700);
    background-color: white;
}

.comp-crud{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 450px;
    margin-left: 140px;
    display: inline-flex;
    align-items: flex-end;
}

.fun{
    text-align: right;
    margin-left: 20px;
}

p{
    font-size: 13px;
}

.busqueda{
    width: 410px;
    margin: auto;
    margin-bottom: 10px;
}

h2{
    padding: 5px 15px;
    margin-top: -23px;
    margin-bottom: 5px;
    font-size: 22px;
}

span{
    background-color: white;
}

.icono{
    width: 45px;
    height: 45px;
}

.icono:hover{
    transform: scale(1.3);
}

#selected{
    opacity: .35;
}
#selected img{
    transform: none;
}

.register-comp{
    width: 375px;
    margin: auto;
    padding: 15px;
    text-align: left;
    border: 2px solid rgba(0, 0, 0, 0.700);
}

#botones{
    width: 410px;
    margin: auto;
    text-align: right;
    padding: 10px 0px;
}

.button{
    margin-top: 5px;
    padding: 15px;
    color: white;
    width: 100px;
    border: none;
    font-weight: bolder;
    background-color: rgba(51, 51, 51, 0.850);
}

.button:hover{
    background-color: rgba(51, 51, 51, 0.650);
}


#form-component-register label{
    font-weight: bolder;
    font-size: 17px;
}

#form-component-register .cat{
    font-size: 14px;
    font-family: 'Voces', cursive;
}

#label1{
    margin-left: 25px;
}

#label2{
    margin-left: 12px;
}

#label3{
    margin-left: 42px;
}

#form-component-register select{
    margin-bottom: 10px;
}

.campos{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.campob{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 25px;
    font-family: "Font Awesome 5 Free"; font-weight: 900;
}

#form-component-register .description{
    resize: none;
    width: 240px;
    height: 80px;
    padding: 5px 10px;
    font-family: 'Voces', cursive;
    font-size: 14px;
}

