@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(220, 220, 220, 0.800);
}

.form-con-div{
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Voces', cursive;
    border: 2px solid rgba(0, 0, 0, 0.700);
}

.comp-crud{
    display: inline-flex;
    align-items: flex-end;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-left: 3%;
}

p{
    font-size: 13px;
}

h1{
    padding: 5px 15px;
    margin-top: -40px;
    margin-bottom: 5px;
    font-size: 22px;
}

span{
    background-color: white;
}

.iconos section{
    float: right;
    font-size: 15px;
    margin-right: 3%;
    color: #434746;
}
.iconos{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    padding-bottom: 4%;
}

.iconos h3{
    font-size: 13px;
    color: black;
}

.iconos img{
    width: 45px;
    height: 45px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.iconos img:hover{
    transform: scale(1.3);
}

#selected{
    opacity: .35;
}

#selected img{
    transform: none;
}

.buscarcom{ 
    padding-top: 10px;
    padding-left: 7%;
    font-size: 15px;
    font-weight: 1000;
}

/* TECNICO */
.buscarcomt{ 
    padding-top: 10px;
    padding-left: 7%;
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
}

#buscarcom {
    font-size: 18px;
}

hr{
    color: black;
    border-bottom: solid 2px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cantidad{
    padding-top: 20px;
    padding-left: 10%;
    font-size: 15px;
    font-weight: 1000;
}

#cantidad{
    border-radius: 0px;
    width: 35px;
    font-family: 'Voces', cursive;
}

input[type="text"]{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 25px;
    font-family: "Font Awesome 5 Free"; font-weight: 900;
}
input[type="submit"], input[type="button"]{
    margin-top: 5px;
    padding: 15px;
    color: white;
    width: 100px;
    border: none;
    font-weight: bolder;
    background-color: rgba(51, 51, 51, 0.850);
}

input[type="submit"]:hover, input[type="button"]:hover{
    background-color: rgba(51, 51, 51, 0.650);
}

.mostrar{
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 7%;
    padding-right: 5%;
    overflow-y: auto;
    max-height: 300px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table td{
    width: 15%;
    border: 3px solid black;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cabt{
    background-color: #848A89;
    color: white;
}

tr{
    background-color: #C9CBCB;
}

.form-ven-div{
    margin-bottom: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding: 15px;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Voces', cursive;
    border: 2px solid rgba(0, 0, 0, 0.700);
    overflow: hidden;
}

.form-vent-div{
    padding: 15px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Voces', cursive;
    font-weight: 1000;
    overflow: hidden;
}

/* CONSULTAR VENTA */
@media (min-width:300px) {
    .form-vent-div{
        display: inline-block;
    }
}
@media (min-width:800px){
    .form-vent-div{
        display: inline-flex;
    }
}

.izquierda{
    text-align: right;
    align-items: left;
    margin-left: 5px;
}

.derecha{
    text-align: right;
    align-items: right;
    margin-left: 45px;
}

#iz, #de{
    border-radius: 0px;
    font-family: 'Voces', cursive;
    border: 2px solid rgba(0, 0, 0, 0.700);
}

/* AGREGAR VENTA */
.totales, .totales-letra{
    text-align: right;
    width: 92%;
}

.totales{
    margin-top: 15px;
}

.data{
    text-align: left;
}

.datos-emp{
    margin-bottom: 10px;
}

.botones{
    font-weight: 1000;
    text-align: right;
}